.footer {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #141c23;
  padding: 2rem 2rem;
}

.socialMediaLinks {
  display: flex;
}

.socialMediaLinks span {
  margin-left: 1rem;
  display: flex;
}
